@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  background-color: #171C28;
  background-position: center;
  background-size: cover;
}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}
.animate-ping1 {
    animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}
